/** Colores y letras **/
:root{
  --font-menu: 'Roboto Condensed', sans-serif; 
  --font-titulo: 'Oswald', sans-serif;
  --font-principal: 'Lato', sans-serif;
  --negro: rgb(46, 29, 14);
  --blanco: rgb(255, 255, 255);
  --azul: #f0f8ff;
  --beige: #F2F1EB;
}

/** Elementos de las páginas **/
* {
  margin: 0;
} 

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

/** Elementos **/
h1{
  font-family: var(--font-menu);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-family: var(--font-menu);
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--negro); 
}

h3{
  font-family: var(--font-menu);
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--negro); 
  text-align: center;  
}

/** Menú **/

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-family: var(--font-menu);
  width: 100%;
  justify-content: right;
  padding: 2em;
  font-size: 1em;
  font-weight: 500;

  nav{
    ul{
      li{
        display: inline;
        margin-right: 3em;
        a{
          color: var(--negro); 
          text-decoration: none;
          &:hover {
            color: #2993d5;
          }
          &.current {
            color: #2993d5; 
            font-weight: 600; 
            padding-bottom: 3px; 
          }
        }
      }
    }
  }
}  

/** Portada **/

.imagen-portada{
  position: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  align-items: center;

  img{
  width: 100%;
  height: 100%;
  object-position: center;
  }
}

.titulo-portada{
  position: absolute;
  color: var(--blanco);
  font-size: 4em;
  text-align: center;
  font-family: var(--font-titulo);
  text-transform: uppercase;
  padding-top: 9em;
  padding-left: 3em;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/** Container **/

.container{
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

/** Página categoría**/

.texto-categoria{
  padding-top: 4em;
  padding-bottom: 4em; 
  margin-top: 0rem; 
  margin-bottom: 2em;
  background-color: var(--beige);
  padding-right: 5em;
  padding-left: 5em;
}

main{
  font-family: var(--font-principal);
  font-weight: 400;
  line-height: 1.6;
}

.foto-visitar {
  width: 100%;        
  display: block;
  overflow: hidden;
  aspect-ratio: 21 / 9; 
  img {
  width: 100%;        
  height: 100%;
  }
}

/** Tarjetas de Categoría **/

.tarjetas-categoria {
  display: flex;
  flex-wrap: wrap; 
  gap: 2em; 
  padding-right: 5em;
  padding-left: 5em;
  padding-top: 1em;
  
  .tarjeta {
    flex: 1 1 calc(50% - 1em); 
    text-decoration: none;
    color: var(--negro);
    display: block;
    
    h2 {
      padding-top: 0.6em;
      padding-bottom: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0;
    }
    
    .tarjeta-imagen {
      margin: 0;
      aspect-ratio: 4 / 3;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/** Footer **/

.footer-elemento {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
      li {
        a {
          text-decoration: none;
          font-size: 0.9em;
          line-height: 2;
          color: var(--negro);
            &:hover { 
              color: #007bff;
            }
        }
      }
  }
}

/** Categoría playas **/

.foto-playas {
  width: 100%;        
  display: block;
  overflow: hidden;
  aspect-ratio: 21 / 9; 
  
  img {
  width: 100%;        
  height: 100%;
  object-fit: cover;
  margin-top: 2em;
  }
}

/**Páginas de detalle**/

.texto-categoria .container h3 {
  padding-left: 5em;
  padding-right: 5em;
  margin-bottom: 0.5em; 
  margin-top: 2em;
  text-align: center;
}

.fotos-detalle {
  margin: 2em;
  aspect-ratio: 16 / 9;
  
  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }
}

.descripcion-detalles{
  padding-left: 2em;
  padding-right: 2em;
}

.video-responsive {
  position: relative;
  padding-bottom: 50%; 
  padding-top: 30px;
  max-width: 100%; 
    
    iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
  }
}