/** Colores y letras **/
:root{
  --font-menu: 'Roboto Condensed', sans-serif; 
  --font-titulo: 'Oswald', sans-serif;
  --font-principal: 'Lato', sans-serif;
  --negro: rgb(46, 29, 14);
  --blanco: rgb(255, 255, 255);
  --azul: rgb(73, 145, 204);
}

/** Elementos de las páginas **/
* {
  margin: 0;
} 

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

/** Menú **/
header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-family: var(--font-menu);
  width: 100%;
  justify-content: right;
  padding: 2em;
  font-size: 1em;
  font-weight: 500;
}

header nav ul li{
  display: inline;
  margin-right: 3em;
}

header nav ul li a {
  color: var(--negro); 
  text-decoration: none;
}

/** Portada **/

.imagen-portada{
  position: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  align-items: center;
}

.imagen-portada img{
  width: 100%;
  height: 100%;
  object-position: center;
}

.titulo-portada{
  position: absolute;
  color: var(--blanco);
  font-size: 4em;
  text-align: center;
  font-family: var(--font-titulo);
  text-transform: uppercase;
  padding-top: 9em;
  padding-left: 3em;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/** Container **/

.container{
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

/** Página categoría**/
.texto-categoria{
  padding-top: 4rem;
  padding-bottom: 4rem; 
  margin-top: 0rem; 
  margin-bottom: 0rem;
  background-color: #F2F1EB;
}

.texto-categoria p{
  padding-right: 5em;
  padding-left: 5rem;
}

main{
  font-family: var(--font-principal);
  font-weight: 400;
  line-height: 1.6;
}

.foto-visitar {
  width: 100%;        
  display: block;
  overflow: hidden;
  aspect-ratio: 21 / 9; 
}

.foto-visitar img {
  width: 100%;        
  height: 100%;
}