/** Colores y letras **/

:root{
  --font-menu: 'Roboto Condensed', sans-serif; 
  --font-titulo: 'Oswald', sans-serif;
  --font-principal: 'Lato', sans-serif;
  --negro: rgb(46, 29, 14);
  --blanco: rgb(255, 255, 255);
  --azul: #0068bd;
  --beige: #F2F1EB;
}

/** Elementos de las páginas **/
* {
  margin: 0;
} 

*, 
*::before, 
*::after {
  box-sizing: border-box;
}

/** Elementos **/
h1{
  font-family: var(--font-menu);
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
}

h2 {
  font-family: var(--font-menu);
  font-size: 1.3em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--negro); 
}

h3{
  font-family: var(--font-menu);
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--negro); 
  text-align: center;  
}

/** Menú **/

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  font-family: var(--font-menu);
  width: 100%;
  justify-content: right;
  padding: 2em;
  font-size: 1em;
  font-weight: 500;

  nav{
    ul{
      li{
        display: inline;
        margin-right: 3em;
        a{
          color: var(--negro); 
          text-decoration: none;
          &:hover {
            color: var(--azul);
          }
          &.current {
            color: var(--azul); 
            font-weight: 600; 
            padding-bottom: 3px; 
          }
        }
      }
    }
  }
}  

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none; 
    position: absolute;
    min-width: 180px;
    margin-top: 0;
    background-color: var(--blanco);
    padding: 10px 0;

    li {
        display: block;
        margin: 0;
        
        a {
            color: var(--negro);
            padding: 8px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
            
            &:hover {
                color: var(--azul);
            }
        }
    }
}

.dropdown:hover .dropdown-content {
    display: block; 
}

/** Portada **/

.imagen-portada{
  height: 100%;
  width: 100%;
  min-height: 60vh;
  overflow: hidden;
  align-items: center;

  img{
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  }
}

.titulo-portada{
  position: absolute;
  color: var(--blanco);
  font-size: 4em;
  text-align: center;
  font-family: var(--font-titulo);
  text-transform: uppercase;
  padding-top: 9em;
  padding-left: 3em;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/** Container **/

.container{
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2em;
  padding-left: 2em;
}

/** Página categoría**/

.texto-categoria{
  padding-top: 4em;
  padding-bottom: 4em; 
  margin-bottom: 0em;
  background-color: var(--beige);
  padding-right: 5em;
  padding-left: 5em;
}

main{
  font-family: var(--font-principal);
  font-weight: 400;
  line-height: 1.6;
}

.foto-visitar {
  width: 100%;        
  display: block;
  overflow: hidden;
  aspect-ratio: 21 / 9; 
  img {
  width: 100%;        
  height: 100%;
  }
}

/** Tarjetas de Categoría **/

.tarjetas-categoria {
  display: flex;
  flex-wrap: wrap; 
  gap: 2em; 
  padding-right: 5em;
  padding-left: 5em;
  padding-top: 1em;
  
  .tarjeta {
    flex: 1 1 calc(50% - 1em); 
    text-decoration: none;
    color: var(--negro);
    display: block;

    &:hover {       
      h2 {
        color: var(--azul); 
      }
    }
    
    h2 {
      padding-top: 0.6em;
      padding-bottom: 0.5em;
      margin-top: 0.5em;
      margin-bottom: 0;
    }
    
    .tarjeta-imagen {
      margin: 0;
      aspect-ratio: 4 / 3;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: inset(0% 0% 0% 0% round 30px);
      }
    }
  }
}

/** Footer **/
footer {
  font-family: var(--font-principal);
  background-color: var(--beige);
}

.footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  gap: 2em; 
  padding: 3em;
  max-width: 1140px;
  margin-bottom: 0;
}

.footer-elemento {  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
      li {
        a {
          text-decoration: none;
          font-size: 0.9em;
          line-height: 2;
          color: var(--negro);
            &:hover { 
              color: var(--azul);
            }
        }
      }
  }
}

.social-icons {
text-align: center;
  a {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--negro); 
    display: inline-block;
    margin-bottom: 2em; 

    &:hover {
      color: var(--azul); 
    }
  }
}

/** Categoría playas **/

.foto-playas {
  width: 100%;        
  display: block;
  overflow: hidden;
  aspect-ratio: 21 / 9; 
  
  img {
  width: 100%;        
  height: 100%;
  object-fit: cover;
  }
}

/**Páginas de detalle**/

.texto-categoria .container h3 {
  padding-left: 5em;
  padding-right: 5em;
  margin-top: 2em;
  text-align: center;
}

.fotos-detalle {
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  
  img {
  width: 100%;
  height: auto;
  object-fit: cover;
  }
}

.descripcion-detalles{
  padding-left: 2em;
  padding-right: 2em;
}

.video-responsive {
  position: relative;
  padding-bottom: 50%; 
  padding-top: 30px;
  max-width: 100%; 
    
    iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;
    border: none;
  }
}

/** Figure **/
figure {
    margin: 0;
    padding: 0;
    
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    figcaption {
        font-family: var(--font-principal);
        font-size: 0.9em;
        color: #555;
    }
}


/** Movil **/
@media (max-width: 767px) {
header {
  flex-direction: column;
  padding: 1em;
  text-align: center;
}
  
header nav ul li {
  display: block; 
  margin: 0.5em 0;
}

.titulo-portada {
  font-size: 2.5em; 
  padding: 3em 0.5em 0;
}

.imagen-portada {
    min-height: 40vh;
  }
.titulo-portada {
    font-size: 2.5em;
    padding-top: 3em;
  }

.container {
  padding-right: 1em;
  padding-left: 1em;
}

.texto-categoria {
  padding: 2em 1em;
}

h3 {
  font-size: 1.4em;
  text-align: center;
  padding: 0.5em 0.5em;
}
  
.tarjetas-categoria {
  flex-direction: column;
  padding-right: 1em;
  padding-left: 1em;
  gap: 1.5em;
    
  .tarjeta {
      flex: 1 1 100%;
  }
}

.footer {
  grid-template-columns: 1fr;
  padding: 2em 1em;
  gap: 1em;
}

.descripcion-detalles {
  padding-left: 1em;
  padding-right: 1em;
}

.video-responsive iframe {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
}

/**Tablet**/
@media (min-width: 768px) and (max-width: 1023px) {
header {
  padding: 1.5em 1em; 
  font-size: 0.9em;
  justify-content: space-around; 
}

header nav ul li {
  margin-right: 1.5em; 
}

.footer {
  grid-template-columns: repeat(3, 1fr) 1fr 1fr;
  gap: 1.5em;
  padding: 2em;
}

.footer-elemento {
  font-size: 0.95em; 
}
    
.titulo-portada {
  font-size: 3em;
  padding-top: 5em; 
}

.texto-categoria {
  font-size: 3.5em; 
  padding-top: 5em; 
  padding-left: 1em;
  padding-right: 1em;
}

.tarjetas-categoria {
  padding-right: 2em;
  padding-left: 2em;
  gap: 1.5em;
}
.texto-categoria {
    padding: 2em 1em;
}

.texto-categoria {
  font-size: 1.5em;
}
}