<footer>
    <div class="container">
        <div class="footer">
            <div class="footer-elemento">
                <h2>Qué visitar</h2>
                <ul>
                    <li><a href="/det1.html">Playas y calas</a></li>
                    <li><a href="/det2.html">Miradores y naturaleza</a></li>
                    <li><a href="#">Museos y cultura</a></li>
                    <li><a href="#">Monumentos e iglesias</a></li>
                    <li><a href="#">Actividades y ocio</a></li>
                    <li><a href="#">Gastronomía</a></li>
                </ul>
            </div>
            
            <div class="footer-elemento">
                <h2>Qué hacer</h2>
                <ul>
                    <li><a href="#">Rutas</a></li>
                    <li><a href="#">Deportes</a></li>
                    <li><a href="#">Mercados</a></li>
                    <li><a href="#">Playas</a></li>
                </ul>
            </div>
            
            <div class="footer-elemento">
                <h2>Prepara tu viaje</h2>
                <ul>
                    <li><a href="#">Cómo llegar</a></li>
                    <li><a href="#">Dónde alojarse</a></li>
                    <li><a href="#">Dónde comer</a></li>
                    <li><a href="#">Clima en Palafrugell</a></li>
                    <li><a href="#">Cómo moverse</a></li>
                </ul>
            </div>
            
            <div class="footer-elemento">
                <h2>Eventos</h2>
                <ul>
                    <li><a href="#">Agenda de Palafrugell</a></li>
                </ul>
            </div>
            <div class="footer-elemento">
                <h2>Contacto</h2>
                <ul>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>