<header>
<nav id="menu-links">
    <ul>
        <li><a href="index.html">Descubre Palafrugell</a></li>
        <li class="dropdown">
            <a href="categoria.html">Qué visitar</a> 
            <ul class="dropdown-content">
                <li><a href="det2.html">Playas y Calas</a></li>
                <li><a href="det1.html">Miradores y naturaleza</a></li>
                <li><a href="">Monumentos e iglesias</a></li>
                <li><a href="">Actividades y ocio</a></li>
                <li><a href="">Gastronomía</a></li>
                </ul>
        </li>
        
        <li><a href="">Qué hacer</a></li>
        <li><a href="">Prepara tu viaje</a></li>
        <li><a href="">Eventos</a></li>
        <li><a href="">Contacto</a></li>
        </ul>
</nav>
</header>